body{
    background-color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
     table{
        width: 50%;
        border-collapse:collapse;
     }
     tr,th{
         padding: 5px;
         border:4px double black;
     }
#submit{
    color:rgb(0, 0, 0);
    background-color: rgb(238, 135, 229);
    -moz-border-radius:  5px;
    -webkit-border-radius:  5px; 
    border-radius:  5px;
}
