body{
  color: white;
  background-color: rgb(56, 55, 55);
  font-family: Arial, Helvetica, sans-serif;    
}
table {  
  width: 60%;
  margin: 40px;
  border: 1px solid rgb(80, 79, 79);
  border-radius: 10px;
  text-align: left;
  vertical-align: bottom;
  border-spacing: 0px;
}
th{
  height: 20px;
  padding: 10px;
}
td{
  padding: 10px;
  width: 35%;
  border-top: 1px solid rgb(80, 79, 79);
}
.arrow {
 color: white;
}
.point {
  color: white;
  float: right;
}
.grey {
  opacity: 0.5;
}
span {
  color: rgb(30, 120, 255);
}
#search{
  background-color: rgb(80, 79, 79);
  border-radius: 8px;
  box-shadow: none;
}
