body{
  color: white;
  background-color: rgb(56, 55, 55);
  font-family: Arial, Helvetica, sans-serif;    
}
table {  
  width: 60%;
  margin: 40px;
  border: 1px solid rgb(80, 79, 79);
  border-radius: 10px;
  text-align: left;
  vertical-align: bottom;
  border-spacing: 0px;
}
th{
  height: 30px;
  padding: 10px;
}
td{
  padding: 10px;
  width: 35%;
  border-top: 1px solid rgb(80, 79, 79);
}
.arrow {
 color: white;
}
.point {
  color: white;
  float: right;
}
.grey {
  opacity: 0.5;
}
span {
  color: rgb(30, 120, 255);
}
.search-input{
  position: relative;
  width: 100%;
  height: 100%;
 }
 #search {
   font-size: 10px;
   background-color: rgb(82, 81, 81);
   border: none;
   border-radius: 5px;
   padding: 1px 6px 1px 30px;
 }
 .search-input #search {
   width: 100%;
   height: 100%;
 }
 .icon {
   position: absolute;
   font-size: 13px;
   top: 6px;
   left: 10px;
   color: #999;
 }
 ::placeholder {
  color: #999;
  font-size: 1.5em;
  font-weight: bold;
}
